.header {
  background-color: #000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.list {
  display: flex;
  gap: 18px;
}

.list__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.list__link_active {
  color: #a35cd9;
}

.header-buttons-inner {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-button {
  padding: 15px 27px;
}

.hero {
  background: linear-gradient(100deg, #0b0b0b 0%, #bf6bff 100%);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.hero::after {
  content: url("../image/background-hero.png");
  position: absolute;
  bottom: -320px;
  right: 0;
  z-index: -1;
  rotate: 180deg;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
}

.hero-info {
  max-width: 1100px;
  color: #fff;
  margin-top: 180px;
  margin-bottom: 300px;
}

.hero-title {
  font-size: 96px;
  margin-bottom: 10px;
  line-height: 150%;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 150%;
  font-weight: 500;
  max-width: 900px;
}

.hero-buttons-inner {
  display: flex;
  gap: 70px;
}

.hero-button {
  padding: 15px 32px;
  font-size: 32px;
  line-height: 150%;
  position: relative;
}

.hero-button_inactiv::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1f211f;
  opacity: 50%;
  border-radius: 17px;
}

.hero-button_inactiv:hover {
  opacity: 100%;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0px;
  max-width: 40%;
  height: auto;
}

.timer {
  position: absolute;
  bottom: 0;
  padding: 30px 70px;
  background-color: #724297;
  border: 1px solid #fff;
  border-radius: 17px 17px 0 0;
  margin: 0 auto;
  left: 40%;
}

.timer-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.timer-items-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.timer-item {
  background-color: #3f7042;
  border-radius: 17px;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 1px solid #fff;
}

.timer-item__number {
  font-size: 32px;
}

.timer-item__time {
  font-size: 24;
}

.road-map {
  background-color: #000;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.road-map::after {
  content: url("../image/background-hero.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  max-width: 50%;
}

.road-map::before {
  content: url("../image/road-map-background.png");
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -3;
  max-width: 50%;
}

.road-map__inner::after {
  content: "";
  width: 675px;
  height: 989px;
  position: absolute;
  top: 700px;
  right: -100px;
  filter: blur(150px);
  border-radius: 50%;
  background: #884eb5;
  z-index: -2;
}

.road-map__inner::before {
  content: "";
  width: 675px;
  height: 989px;
  position: absolute;
  bottom: -50px;
  left: -100px;
  filter: blur(150px);
  border-radius: 50%;
  background: #884eb5;
  z-index: -2;
}

.road-map-title {
  text-align: center;
  font-size: 96px;
  line-height: 150%;
  margin: 100px 0;
  position: relative;
}

.road-map-title::after {
  content: "";
  width: 1164px;
  height: 824px;
  position: absolute;
  bottom: -250px;
  left: -150px;
  filter: blur(150px);
  border-radius: 50%;
  background: #407143;
  z-index: -1;
}

.road-map-ilustration {
  position: absolute;
  z-index: -2;
  max-width: 30%;
}

.road-map-ilustration__girl {
  bottom: 0;
  left: 0;
}

.road-map-ilustration__fox {
  right: 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-item-inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 250px;
  position: relative;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #000;
  width: 165px;
  height: 165px;
  flex-shrink: 0;
  cursor: pointer;
}

.timeline-item:hover .timeline-item__number {
  color: #73c578;
}

.timeline-item:hover::before {
  background: linear-gradient(30deg, #3f7042, #80cc83);
}

.timeline-item:hover + .timeline-card {
  opacity: 100%;
  transform: translateX(0);
}

.timeline-item::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  background: linear-gradient(30deg, #909c91, #fff);
  z-index: -1;
  transition: 0.2s;
}

.timeline .timeline-item-inner:not(:last-child) .timeline-item::after {
  content: "";
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  width: 1px;
  background: #fff;
  z-index: -2;
}

.timeline-item__number {
  font-size: 96px;
  line-height: 110%;
  font-weight: 600;
  color: #fff;
  transition: 0.2s;
}

.timeline .timeline-item-inner:first-child .timeline-card {
  bottom: -10%;
}

.timeline-card {
  padding: 30px 50px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.15),
    inset 0px 0px 68px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(24px);
  border-radius: 17px;
  max-width: 608px;
  min-width: 608px;
  position: absolute;
  bottom: -50%;
  transition: 0.2s;
  opacity: 0;
  transform: translateX(-50px);
}

.timeline-card_right {
  left: 225px;
}

.timeline-card_left {
  right: 225px;
  transform: translateX(50px);
}

.timeline-card__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.timeline-card__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeline-card__item {
  font-size: 24px;
  font-weight: 500;
  list-style: disc;
  margin-left: 22px;
}

.about {
  padding-top: 100px;
  background-color: #000;
  border-bottom: 1px solid #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about::before {
  content: "";
  width: 989px;
  height: 1475px;
  position: absolute;
  bottom: -950px;
  left: 500px;
  filter: blur(176.55px);
  border-radius: 50%;
  background: rgba(128, 204, 131, 0.69);
  transform: matrix(0, -1, -1, 0, 0, 0);
  z-index: -1;
}

.about::after {
  content: "";
  width: 1475px;
  height: 989px;
  position: absolute;
  top: -700px;
  left: 250px;
  filter: blur(150px);
  border-radius: 50%;
  background: #884eb5;
  z-index: -1;
}

.about__inner-content {
  position: relative;
}

.about__inner-content::after {
  content: url("../image/elipse.png");
  bottom: 0;
  left: 250px;
  position: absolute;
  z-index: -1;
}

.about__inner-content::before {
  content: url("../image/elipse-top.png");
  top: 0;
  left: 250px;
  position: absolute;
}

.about-title {
  font-size: 116px;
  line-height: 130%;
  background: linear-gradient(90deg, #fff, #999);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  position: relative;
}

.about-title_span {
  background: linear-gradient(
    91.85deg,
    #efefef 2.23%,
    rgba(238, 217, 255, 0.15) 111.35%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 80px;
  text-align: center;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px 0;
  align-items: end;
}

.about-item {
  color: #fff;
  opacity: 20%;
  font-size: 36px;
  line-height: 123%;
  transition: 0.2s;
  align-self: start;
  cursor: pointer;
}

.about-item_left {
  padding-left: 50px;
  align-self: end;
}

.about-item_right {
  padding-right: 50px;
  align-self: end;
}

.about-list_right .about-item {
  align-self: end;
}

.about-item:hover {
  color: #73c578;
  opacity: 100%;
}

.about-ilustration {
  margin-top: -100px;
  z-index: 0;
  max-width: 100%;
  height: auto;
}

.about-button__inner {
  display: flex;
  justify-content: center;
}

.about-button {
  background: linear-gradient(91.85deg, #884eb5 1.56%, #502076 104.24%);
  border-radius: 17px;
  border: none;
  padding: 20px 30px;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  bottom: 80px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.about-button::after {
  content: url("../image/icons/arrow.svg");
  margin-left: 15px;
}

.about-button:hover {
  opacity: 90%;
}

.news {
  background-color: #000;
  position: relative;
  padding-bottom: 160px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.news::before {
  content: url("../image/background-hero.png");
  position: absolute;
  top: 0;
  left: 0;
}

.news::after {
  content: url("../image/road-map-background.png");
  position: absolute;
  bottom: 0;
  right: 0;
}

.news__inner::after {
  content: "";
  width: 989px;
  height: 1475px;
  position: absolute;
  bottom: -950px;
  left: 500px;
  filter: blur(176.55px);
  border-radius: 50%;
  background: rgba(128, 204, 131, 0.69);
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.news__inner::before {
  content: url("../image/elipse.png");
  bottom: 0;
  left: 250px;
  position: absolute;
}

.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  color: #fff;
  padding: 120px 0;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 17px;
  z-index: 1;
}

.news-item {
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
  position: relative;
}

.news-item:nth-child(1) {
  background-image: image-set(
    url("../image/news-image-1.png") 1x,
    url("../image/news-image-1_2x.png") 2x
  );
}

.news-item:nth-child(2) {
  background-image: image-set(
    url("../image/news-image-2.png") 1x,
    url("../image/news-image-2_2x.png") 2x
  );
}

.news-item:nth-child(3) {
  background-image: image-set(
    url("../image/news-image-3.png") 1x,
    url("../image/news-image-3_2x.png") 2x
  );
}

.news-item::after {
  content: "";
  width: 676px;
  height: 451px;
  position: absolute;
  bottom: -150px;
  left: -100px;
  border-radius: 50%;
  background: rgba(67, 117, 69, 0.58);
  filter: blur(39.75px);
  z-index: -1;
}

.news-item__date {
  font-size: 23px;
  line-height: 150%;
  padding: 10px 30px;
  max-width: 164px;
  border-radius: 17px;
  background: linear-gradient(91.85deg, #884eb5, #502076);
  margin-bottom: 280px;
}

.news-item__status {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 10px 30px;
  max-width: 300px;
  border-radius: 7px;
  background: linear-gradient(91.85deg, #884eb5, #502076);
  margin-bottom: 10px;
}

.news-item__title {
  font-size: 23px;
  line-height: 150%;
  margin-bottom: 15px;
}

.news-item__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 30px;
}

.news-item__button {
  font-size: 16px;
  color: inherit;
  font-weight: 500;
  line-height: 150%;
  padding: 10px 30px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(91.85deg, #884eb5, #502076);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.news-item__button:hover {
  opacity: 70%;
}

.news-item__button::after {
  content: url("../image/icons/arrow.svg");
  margin-left: 15px;
}

.news-item_accent .news-item__date {
  background: linear-gradient(91.85deg, #73c578, #437545);
}

.news-item_accent .news-item__status {
  background: linear-gradient(91.85deg, #73c578, #437545);
}

.news-item_accent .news-item__button {
  background: linear-gradient(91.85deg, #73c578, #437545);
}

.news-item_accent::after {
  background: rgba(136, 78, 181, 0.59);
}

.news-button__inner {
  display: flex;
  justify-content: center;
}

.news-button {
  padding: 20px 40px;
  font-size: 24px;
  line-height: 123%;
  background: rgba(115, 197, 120, 0.22);
  box-shadow: inset 0px 4px 4px rgba(167, 227, 171, 0.15),
    inset 0px 0px 68px rgba(167, 227, 171, 0.15);
  backdrop-filter: blur(24px);
  border-radius: 17px;
  border: 3px solid #73c578;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}

.news-button:hover {
  opacity: 70%;
}

.footer {
  background-color: #000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

/* Меню и оверлей */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 101;
}

.menu-toggle-line {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.menu-toggle.active .menu-toggle-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .menu-toggle-line:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .menu-toggle-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 1700px) {
  .hero-image {
    max-width: 35%;
  }

  .road-map-ilustration {
    max-width: 25%;
  }

  .road-map-title::after {
    width: 900px;
    height: 650px;
    bottom: -200px;
    left: -100px;
  }

  .about-title {
    font-size: 90px;
  }

  .about-title_span {
    font-size: 65px;
  }
}

@media (max-width: 1570px) {
  .header-inner {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .hero-title {
    font-size: 72px;
  }

  .hero-text {
    font-size: 20px;
    max-width: 700px;
  }

  .road-map-title,
  .about-title {
    font-size: 72px;
  }

  .about-title_span {
    font-size: 50px;
  }

  .about-item {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .header-inner {
    flex-wrap: wrap;
    gap: 20px;
  }

  .menu {
    order: 3;
    width: 100%;
    justify-content: center;
  }

  .hero-info {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .hero-title {
    font-size: 60px;
  }

  .road-map-title,
  .about-title {
    font-size: 60px;
    margin: 60px 0;
  }

  .about-title_span {
    font-size: 42px;
  }

  .road-map-ilustration {
    max-width: 20%;
  }
}

@media (max-width: 1200px) {
  .menu-toggle {
    display: flex;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 320px;
    height: 100vh;
    background: #000;
    z-index: 100;
    padding: 80px 20px 20px;
    transition: 0.3s;
  }

  .menu.active {
    left: 0;
  }

  .list {
    flex-direction: column;
    gap: 20px;
  }

  .hero-inner {
    flex-direction: column;
  }

  .hero-info {
    margin: 60px 0;
  }

  .hero-image {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .timer {
    position: relative;
    left: 0;
    margin: 30px auto;
    border-radius: 17px;
  }

  .road-map-title,
  .about-title {
    font-size: 48px;
  }

  .about-title_span {
    font-size: 36px;
  }

  .about__inner {
    flex-direction: column;
  }

  .about-list {
    margin: 40px 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .about-item {
    font-size: 24px;
    opacity: 1;
    padding: 0 !important;
  }

  .news-list {
    grid-template-columns: 1fr 1fr;
  }

  .road-map-ilustration {
    display: none;
  }

  .road-map::after,
  .road-map::before,
  .road-map__inner::after,
  .road-map__inner::before,
  .road-map-title::after,
  .about::before,
  .about::after,
  .news::before,
  .news::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .timeline-item-inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
  }

  .timeline-card {
    position: static;
    opacity: 1 !important;
    transform: none !important;
    margin-top: 20px;
  }

  .timeline-card_right,
  .timeline-card_left {
    left: auto;
    right: auto;
    transform: none;
  }

  .timeline .timeline-item-inner:not(:last-child) .timeline-item::after {
    display: none;
  }

  .timeline-item:hover .timeline-item__number {
    color: #fff;
  }

  .timeline-item:hover::before {
    background: linear-gradient(30deg, #909c91, #fff);
  }

  .timeline-item:hover + .timeline-card {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 767px) {
  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-buttons-inner {
    flex-direction: column;
    gap: 20px;
  }

  .road-map-title,
  .about-title {
    font-size: 36px;
  }

  .about-title_span {
    font-size: 28px;
  }

  .news-list {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__inner {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 0 15px;
  }

  .header-inner {
    justify-content: end;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-button {
    font-size: 24px;
    padding: 12px 24px;
  }

  .timeline-item {
    width: 100px;
    height: 100px;
  }

  .timeline-item__number {
    font-size: 48px;
  }

  .timeline-card {
    padding: 20px;
    min-width: auto;
    max-width: 100%;
  }

  .timeline-card__title {
    font-size: 24px;
  }

  .timeline-card__item {
    font-size: 18px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-title_span {
    font-size: 22px;
  }

  .about-item {
    font-size: 18px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease 0.3s;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 1050px;
  height: 200px;
}

.logo-grey {
  width: 800px;
  height: auto;
  object-fit: contain;
}

.logo-color {
  width: 1050px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 15px;
  right: 0;
}

.logo-color {
  animation: revealColor 3s linear forwards;
}

.preloader__text {
  font-weight: 600;
  color: #fff;
  font-size: 24px;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

@keyframes revealColor {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
